a {
  margin: 0px 6px;
  padding: 16px;
  height: 1rem;
  width: fit-content;
  color: #1372ec;
  font-weight: 500;
  border-radius: 26px;
  border: 1px solid #1372ec;
  background: none;
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}

a.active {
  color: white;
  background-color: #1372ec;
  transition: background-color 0.5s ease 0s;
}

a:hover{
  color: white;
  background-color: #0b6ae7;
  transition: background-color 0.5s ease 0s;
}
